header, footer{
    background-color: #485058;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    margin: 20px;
}

body {
    background-color: #f2f8ff;
}